<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="digite seu nome">
        <input type="assunto" placeholder="digite o seu assunto">
        <input type="telefone" placeholder="(00) 00000-0000">
        <input type="email" placeholder="email@email.com">
        <textarea maxlength="300" placeholder="digite a sua mensagem..."></textarea>
        <button>enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15356.95724662502!2d-47.8782976!3d-15.7913305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6735e922ed54b6ca!2sCapgemini%20Bras%C3%ADlia!5e0!3m2!1spt-BR!2sbr!4v1667311552123!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>St. Bancário Norte Q 1 - Brasília, DF, 70297-400</p>
    </address>
</section>