<h2 class="cart-title">Carrinho</h2>
<div>
    <ul>
        <li *ngFor="let itensCarrinho of itensCarrinho">
            <img [src]="itensCarrinho.imagem">
            <p>{{ itensCarrinho.descricao }}</p>
            <p> {{ itensCarrinho.preco }}  </p>
            <label>
                
                <input type="number" [(ngModel)]="itensCarrinho.Quantidade">
            </label>
            <button class="remove-button"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        </li>
    </ul>4
    <h2 class="cart-total">Total: 4</h2>
    <button class="buy-button">Comprar</button>
</div>